ul {
    list-style-type: none;
    text-align: right;
  }
 li {
    display: inline-block;
}
body{
    background-color: cyan;
}
h1>u { 
    text-align: center; 
    color: blue;
    padding-left: 42%;
	padding-right: 20%;
}
img {
    
	width: 14%;
	height: 17%;
	border-radius: 50%;
	display: block;
	margin-left: 45%;
	margin-right: auto;

}
.centermain{
    padding-left: 30.5%;
	padding-right: 23%;
}
body{
    width: 98%;
}
#EarlyLife,#Career,h2,#Facts {
	text-align: center;
	color: blue;
	text-decoration: underline;
}
p{
    padding-left: 30%;
    padding-right: 20%;
    line-height: normal;
    
}
br{
    display: none;
}
#Honours{
	color: red;
	text-align: center;
	text-decoration: underline;
}
.bright{
	color: red;
}
.bright br{
    display: inline;
}
.bright a:nth-child(odd){
    background-color: gray;
    padding: 5px;
    text-decoration: none;
    color: floralwhite;
   
   }
.bright a:nth-child(even){   
   text-decoration: none;
   background-color: orange;
   padding: 5px;
   color: floralwhite;
}
.interesting li {
    color: blue;
    font-weight: bold;
	font-family: 'Great Vibes', cursive;
    font-size: 20px;
    padding-left: 28%;
    padding-right: 20%;

}
.interesting br{
    display: inline;

}
.interesting ol{
        counter-reset: section;
}
.interesting li::before{
    content: counter(section) ". ";
    counter-increment: section;
}
.interesting h3{
	color: blue;
	text-decoration: underline;
}
h3{
    padding-left: 39%;
    padding-right: 20%;
}
#ab{
    padding-left: 30%;
    padding-right: 40%;
}